<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.mall.entity.UserEntity">
        <result column="USERID"  property="userId" />
        <result column="USERNAME"  property="userName" />
        <result column="IDCARD"  property="idCard" />
        <result column="SEX"  property="sex" />
        <result column="PHONE"  property="phone" />
    </resultMap>

    <select id="selectUser" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from DEMO_USER where userid = #{userId,jdbcType=VARCHAR}
    </select>

</mapper>
